.satyam {
    /* background: rgba(20, 148, 190, 0.838); */
    background: rgba(233, 225, 225, 0.838);
    border-radius: 25px;
    /* background-size: cover; */
}
body{
    /* background-image: url('bg_image\czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdi42NDAtcGVpcGVpLTA5LW1vZGVybmJnXzEuanBn (1).jpg'); */
}
#fb{
    /* image:src('') */
    /* image: src('gmail.png') */
    background-image: url('bg_image\twitter.png');
}
.footer{
    /* width: %; */
    height: auto;
    /* width: 25%; */
    /* height: auto; */
}
.qss4{
    /* background-color: rgba(101, 101, 227, 0.806); */
    width:60%;
    padding: 1%;
    margin-left: 20%;
    /* height: 10%; */
    /* padding-left: 50px; */
}

.abc {
    background-size: cover;
    z-index: -1;
    filter: blur(40px);
    position: absolute;
    /* height: 100vh; */
    height: 350vh;
    /* box-sizing: border-box; */
    background-size: cover;

}
#imag{
    border-radius: 28px;
    
}
#imgs{
    /* max-width: 3000px; */
    /* size: 2px; */
    /* height: 200px; */
    /* position: relative; */
    width: 25px;

}
#h51{
/* float: right; */
}
#btn{
    /* width: 30%; */
    /* float: left; */
    /* box-sizing: border-box; */
    background-color: rgba(66, 58, 176, 0.952);
    border-radius: 25px;
    /* size: 2px; */
    
}
.project-text{
    text-align: center;
}


