#white {
    /* background: rgba(201, 19, 19, 0.838); */
    background: rgba(233, 225, 225, 0.838);
    border-radius: 25px;
    /* margin-left: 8px; */
   

}
#video{
    border-radius: 50px;
    border: 10px solid red;
    /* width: 100%; */
}
#btn{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 109, 24, 0.838);
    border-radius: 20px;
    border: 1px solid black;
    
}

#backgroundimg {
    z-index: -1;
    /* max-width: 100%; */
    /* margin-right: auto; */
    /* margin-left: auto; */
     /* max-height: 100%; */
    /* width: 100%; */
    /* background-size: cover; */
    /* height: 100%; */
    /* position: fixed; */
    width: 100%;
    max-height: 170vh;
    /* height: 170vh; */
    position: absolute;
    filter: blur(50px);
}